.end-section-button {
	margin: 10px 0;
}

.todo-list li > * {
	margin: 0 5px;
}

.preview-section {
	background-color:#269;
	background-image: linear-gradient(white 2px, transparent 2px),
	linear-gradient(90deg, white 2px, transparent 2px),
	linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
	linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.template-preview {
	background: white;
	height: 300px;
	width: 400px;
	
}

.shadow {
	-webkit-box-shadow: 2px 2px 11px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 11px -1px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 11px -1px rgba(0,0,0,0.75);
}

.box {
	-webkit-box-shadow: 2px 2px 11px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 11px -1px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 11px -1px rgba(0,0,0,0.75);
}
.active-layout {
	background: rgb(175, 221, 248) !important;
}

.slider {
	margin: 0 10px;
}